<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
<link href="__STATIC__/images/logo.jpg" rel="icon" type="image/jpg" size="32x32"  />
<title>404</title>
<link type="text/css" rel="stylesheet" href="__STATIC__/404.css" />
<!--[if IE 6]>
<script src="__STATIC__/js/png.js"></script>
<script>DD_belatedPNG.fix('*')</script>
<![endif]-->

</head>
<body>
<div id="wrap">
	<div>
		<img src="__STATIC__/images/404.png" alt="404" />
	</div>
	<div id="text">
		<strong>
			<span></span>
			<a href="{:url('index/index/showarticle')}">返回首页</a>
			<a href="javascript:history.back()">返回上一页</a>
		</strong>
	</div>
</div>
<div class="animate below"></div>
<div class="animate above"></div>

</body>
</html>
